.data{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.information{
  padding-left: 1rem;
  padding-right: .8rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  line-height: 2.4rem;
  font-size: 2rem;
  color: var(--placeholder)
}

.informationData{
  font-family: 'Allerta', sans-serif;
  font-size: 2.2rem;
  color: var(--background-search)
}

@media(max-width: 760px) {
  .information{
    font-size: 1.8rem;
  }

  .informationData{
    font-size: 2rem;
  }
}

@media(max-width: 360px) {
  .data{
    flex-direction: column;
  }
}